<h2>Create celebrities</h2>

<form method="POST">
  <label for="input-name">Name</label>
  <input id="input-name" type="text" placeholder="Name" name="name" />

  <label for="input-occupation">occupation</label>
  <input id="input-occupation" type="text" placeholder="occupation" name="occupation" />

  <label for="input-catchPhrase">Catch Phrase</label>
  <input id="input-catchPhrase" type="text" placeholder="catchPhrase" name="catchPhrase" />

  <button>Create</button>
</form>
