<h1>Welcome to the app</h1>

<a href="/celebrities/create">Create Celebrities</a>
<br />
<a href="/celebrities">Celebrities List</a>
<br />
<a href="/movies/create">Create Movie</a>
<br>
<a href="/movies">Movies List</a>
